.cart-total {
    text-align: center; 
    padding: 20px;
}

.cart-items img{
	width: 20%;
}

.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 20px;
	padding: 20px;
}

.item h2 {
	color: #555;
	font-size: 20px;
}

.items img{
	width: 60%;
}

@media (max-width: 768px) {
	.items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	  }
	  .item {
		  flex-basis: calc(100%);
		  margin-bottom: 20px;
		  padding: 20px;
	  }
	.item img{
		width: 40%;
	}
}

@media (min-width:768px) and (max-width: 1020px) {
	.items {
	  width: 100%;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	}
	.item {
		flex-basis: calc(50% - 20px);
		margin-bottom: 20px;
		padding: 20px;
	}
}
	