.auth-buttons {
    position: absolute;
    right: 20px;
}
  
.auth-buttons a{
    margin-right:10px;
}

a {
    font-size: 1.2em;
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #333;
}

@media (max-width: 768px) {
    .auth-buttons {
      position: relative;
      top: auto;
      left: 0;
    }
  }

  @media (min-width:768px) and (max-width: 1020px) {
    
    .auth-buttons{
        position: relative;
        right: auto;
        transform: none;
    }
    
    .auth-buttons a{
        margin: 10px;
    }
    }